<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="auth-container">
  <div class="image-container" [ngClass]="{'login-background': isLoginActive, 'register-background': !isLoginActive}">
    <div class="overlay">
      <h1>Book Smarter, travel better.</h1>
    </div>
  </div>
  <div class="form-container">
    <div class="form-content">
      <h2 style="font-weight: bold;">Welcome</h2>
      <p>Log in or Register to manage your business travel needs</p>
      <div class="button-group">
        <div id="toggle" [ngStyle]="{'left': isLoginActive ? '0' : '50%'}"></div>
        <button id="loginBtn" [ngClass]="{'active': isLoginActive}" (click)="showLogin()" style="font-weight: bold;">Login</button>
        <button id="registerBtn" [ngClass]="{'active': !isLoginActive}" (click)="showRegister()" style="font-weight: bold;">Register</button>
      </div>
      <div class="forms-wrapper">
        <!-- Login Form -->
        <form *ngIf="isLoginActive" (ngSubmit)="onLoginSubmit()" class="static-form">
          <div class="form-group">
            <label for="username" style="font-weight: bold;">Username</label>
            <input type="text" id="username" placeholder="ID/Email Address" [(ngModel)]="loginData.EmailOrId" name="EmailOrId" required />
          </div>
          <div class="form-group">
            <label for="password" style="font-weight: bold;">Password</label>
            <div class="password-container">
              <input type="password" id="password" [(ngModel)]="loginData.password" name="password" required />
              <i class="fa fa-eye-slash toggle-password" (click)="togglePasswordVisibility('password')"></i>
            </div>
          </div>
          <a href="#" class="forgot-password" style="font-weight: bold;">Forgot Password?</a>
          <button type="submit" class="login-button" style="font-weight: bold;">Login</button>
        </form>

        <!-- Registration Form -->
        <form *ngIf="!isLoginActive" (ngSubmit)="onRegisterSubmit()" class="static-form">
          <div class="form-group horizontal">
            <div class="form-group">
              <input type="text" id="name" placeholder="Name" [(ngModel)]="registerData.name" name="name" required />
            </div>
            <div class="form-group">
              <input type="text" id="surname" placeholder="Surname" [(ngModel)]="registerData.surname" name="surname" required />
            </div>
          </div>
          <div class="form-group">
            <input type="text" id="idOrPassport" placeholder="ID/Passport" [(ngModel)]="registerData.idOrPassport" name="idOrPassport" required />
          </div>
          <div class="form-group">
            <input type="tel" id="contact" placeholder="Contact" [(ngModel)]="registerData.contact" name="contact" required />
          </div>
          <div class="form-group">
            <input type="email" id="email" placeholder="Email" [(ngModel)]="registerData.email" name="email" required />
          </div>
          <div class="form-group">
            <div class="password-container">
              <input type="password" id="passwordRegister" placeholder="Password" [(ngModel)]="registerData.password" name="passwordRegister" required />
              <i class="fa fa-eye-slash toggle-password" (click)="togglePasswordVisibility('passwordRegister')"></i>
            </div>
          </div>
          <div class="form-group">
            <input type="password" id="confirmPassword" placeholder="Confirm Password" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required />
          </div>
          <div class="form-group terms">
            <input type="checkbox" id="terms" [(ngModel)]="registerData.terms" name="terms" class="checkbox-button"/>
            <label for="terms" class="terms-text">I understand the terms and conditions</label>
          </div>
          <button type="submit" class="register-button" style="font-weight: bold;">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>