<div class="auth-container">
  <div class="image-container">
    <div class="overlay">
      <h1>Book Smarter, travel better.</h1>
    </div>
  </div>
  <div class="form-container">
    <div class="form-content">
      <h2>Welcome</h2>
      <p>Log in or Register to manage your business travel needs</p>
      <div class="button-group">
        <button (click)="showLogin()" [ngClass]="{'active': isLoginActive}">Login</button>
        <button (click)="showRegister()" [ngClass]="{'active': !isLoginActive}">Register</button>
      </div>
      
      <div class="forms-wrapper">
        <!-- Login Form -->
        <form *ngIf="isLoginActive" (ngSubmit)="onLoginSubmit()" class="static-form">
          <div class="form-group">
            <label for="username" style="font-weight: bold;">Username</label>
            <input type="text" id="username" placeholder="ID/Email Address" [(ngModel)]="loginData.username" name="username" required />
          </div>
          <div class="form-group">
            <label for="password" style="font-weight: bold;">Password</label>
            <input type="password" id="password" [(ngModel)]="loginData.password" name="password" required />
          </div>
          <a href="#" class="forgot-password" style="font-weight: bold;">Forgot Password?</a>
          <button type="submit" class="submit-button">Login</button>
        </form>

        <!-- Registration Form -->
        <form *ngIf="!isLoginActive" (ngSubmit)="onRegisterSubmit()" class="static-form">
          <div class="form-group horizontal">
            <div class="form-group">
              <label for="name" style="font-weight: bold;">Name</label>
              <input type="text" id="name" [(ngModel)]="registerData.name" name="name" required />
            </div>
            <div class="form-group">
              <label for="surname" style="font-weight: bold;">Surname</label>
              <input type="text" id="surname" [(ngModel)]="registerData.surname" name="surname" required />
            </div>
          </div>
          <div class="form-group">
            <label for="idOrPassport" style="font-weight: bold;">ID/Passport</label>
            <input type="text" id="idOrPassport" [(ngModel)]="registerData.idOrPassport" name="idOrPassport" required />
          </div>
          <div class="form-group">
            <label for="contact" style="font-weight: bold;">Contact</label>
            <input type="tel" id="contact" [(ngModel)]="registerData.contact" name="contact" required />
          </div>
          <div class="form-group">
            <label for="email" style="font-weight: bold;">Email</label>
            <input type="email" id="email" [(ngModel)]="registerData.email" name="email" required />
          </div>
          <div class="form-group">
            <label for="passwordRegister" style="font-weight: bold;">Password</label>
            <input type="password" id="passwordRegister" [(ngModel)]="registerData.password" name="passwordRegister" required />
          </div>
          <div class="form-group">
            <label for="confirmPassword" style="font-weight: bold;">Confirm Password</label>
            <input type="password" id="confirmPassword" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required />
          </div>
          <div class="form-group terms">
            <input type="checkbox" id="terms" [(ngModel)]="registerData.terms" name="terms" required class="checkbox-button"/>
            <label for="terms" class="terms-text">I understand the terms and conditions</label>
          </div>
          <button type="submit" class="submit-button" style="font-weight: bold;">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>